Binaries/**/*.exe
Binaries/**/*.pdb
Build/
DerivedDataCache/
Intermediate/
Saved/
.vscode/
.vs/
*.VC.db
*.sln
*.suo
*.opensdf
*.sdf
*.app/
*.xcodeproj/
*.xcworkspace/
.idea/
/Binaries/
PostABundle/
MarketplaceBlockout/
Content/_GENERATED/Hazar/Suburb_FoundationPre__B0CEA658.uasset
Content/Istanbul_sharedassets
Content/MetaHumans
Content/Advanced_Auto_Material
Content/Advanced_Auto_Material/Landscape_Material_Instances/MI_Adv_MM_Landscape_28_Desert_Tutorial.uasset
Content/Advanced_Auto_Material/Landscape_Materials_Masters/MM_Adv_MM_Landscape_30.uasset
