Binaries/**/*.exe
Binaries/**/*.pdb
Build/
DerivedDataCache/
Intermediate/
Saved/
.vscode/
.vs/
*.VC.db
*.sln
*.suo
*.opensdf
*.sdf
*.app/
*.xcodeproj/
*.xcworkspace/
.idea/
/Binaries/
PostABundle/
MarketplaceBlockout/
Content/_GENERATED/Hazar/Suburb_FoundationPre__B0CEA658.uasset
